    li.block {
        float: left;
        list-style-type: none;
    }
    
    span.inline {
        clear: both;
        display: block;
        border: 1px solid aqua;
    }
    
    .n-child section:nth-child(3) {
        border: 1px ridge mediumslateblue;
    }
    
    .n-child section:nth-child(5) {
        border: 1px ridge mediumslateblue;
    }